.App {
  height: 100vh;
  width: 100%;
  background-color: #44bba4;
}

.navContainer {
  height: 2.5rem;
  width: 100%;
  display: flex;
  gap: 5rem;
  margin: 0;

  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.card {
  height: 100vh;
  width: 100vw;
  background-color: #44bba385;
}

.question {
  width: 50%;
  text-align: center;
}

.answerContainer {
  opacity: 0;
  width: 50%;
  text-align: center;
  color: #333;
}
.unhide {
  opacity: 1;
}

.answerButtons {
  display: flex;
  gap: 2rem;
}
